html * {
    box-sizing: border-box;
}
p{
    font-size: 10px;
}
.header{
  text-align: center;
}
.container{
    display: flex;
    flex-direction: row;
}
main{
    order: 0;
    padding: 30px;
    flex-grow: 1;
}
nav{
    flex: 1 25%;
}
aside{
    flex: 1 25;
}
main{
    flex: 2 50%;
}
}

}
footer{
    text-align: center;
}
