
/*Change the box model*/
html *{
    box-sizing: content-box;
}
*:before, *:after{
    box-sizing: content-box
}

body{
    font-size: 24px;
    background-color: deepskyblue;
}
h1{
    font-size: .6em;
}
h1{
    background-color: aqua;
   /* padding: 16px; */
    border: 1px solid #000000;
    margin: 10px;
    width: 500px;
}
h2{
    text-align-last: center;
    font-size: .9em;
    margin: auto;
}
h3{
    text-align: center;
    font-size: .72em;
     background-color: orange;
    padding: 10px;
    border: 1px solid #000000;
    margin: auto;
    min-width: 350px;
}
h4{
    margin: auto;
    text-align: center;
    font-size: .6em;
    background-color: orange;
    padding: 10px;
    border: 1px solid #000000;
    min-width: 350px;
}
ul{
    font-size: 24px;
    list-style-position: inside;
    align-content: center;
    text-align: center;
    
}
li{

}
img{
    display: block;
    margin: auto;
}
@media screen and (min-width: 500px){
        
.top{
    float: left;
        }
        .conditions{
            float:left;
        }
    
.daily{
    float: left;
}
    
        .navigation{
            float: left;
        }

main{
    width:  50%
}
}
@media screen and (min-width: 1024px){
    .conditions{position: absolute; left: auto; font-size: 30px;}
    .top{position: absolute; left:350px; width: auto;}
    .daily{position: absolute; left: 700px; ;min-width: 500px}
    .navigation{position:relative; top: 400px; min-width: 350px}
    .wireframes{position:absolute; left: auto; top: 550px; min-width: 350px}
    .copyrite{position: absolute; margin: auto; top: 1950px}
    }
