.page {
     
  display: flex;
   min-height: 100vh;
  flex-flow: column;
  background-image: url(/final/images-final/mobile-background.jpg);
     background-repeat: no-repeat;
     background-attachment: fixed; 
    
}

.page-header{
    
    background-color: slategrey;
}

.page-body{

}
.main-content {
  flex: 1;
        
}

p{
    font-size: 6vw;
}

.page-nav { display: none; }  /* show it on small screens */
    .page-nav a{display: none;}
    .page-nav .flexlist li{display: none;}
    .flexlist{display: none;}
    .page-nav a: hover{display: none;}
    
    .page: {display: table-column-group;}
  
    
    
    /* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 36px;
    border: none;
    cursor: pointer;
   
   
}


.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

.json_images{
    padding: 15px;
}


.dropdown {
    position: relative;
    display: inline-block;
    font-size: 36px;
    z-index: 1000;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    font-size: 36px;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.title-video{
    float: left;
    display: inline-flex;
    width: 100%;
    height: auto;
    overflow: hidden;
}

#application{
    
    max-width: 100%;
    max-height: auto;
    vertical-align: middle;

}

.aboutUs{
    
    max-width:100%;
    max-height:100%;
    vertical-align: middle;
}

.page-footer{
    
    background-color: slategrey;
}

.wire{
     max-width: 100%;
    max-height: auto;
    vertical-align: middle;

}

@media (min-width: 450px){
.page {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
    background-image: none;
}

.page-header {
    display: block;
    background-image: url(/final/images-final/banner.jpg); 
    background-repeat: no-repeat, no-repeat;
    background-position: right, left;
    position: right;
    background-size: 100% 100%;
    
}

.page-body {
  display: flex;
  flex: 1;
  background-image: url(/final/images-final/large-background.jpg);
  background-repeat: no-repeat; 
  background-size: 100% 100%;
  background-attachment:fixed;
}
.main-content {
  flex: 1;
    display: flex;
    flex-direction: column;
}
   
    p{
        font-size: 15pt;
        font-weight: 760;
        text-decoration-color: black;
    }

.adopted, .available {
  /* 12em is the width of the columns */
  flex: 0 0 12em;
}

.adopted {
  order: -1;
}
.page, .page-body {
  display: flex;
  flex-direction: column;
}

.available {
  order: 2;
}

/*navigation elements*/

    #page-nav{display: flex;}
#page-nav ul {
  border: 1px solid #000;
  border-bottom: 1px solid #fff;
  list-style: none;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#page-nav .flexlist li {
  display: flex;
  flex: auto;
  
    
}
#page-nav a {
  display: flex;
  flex: auto;
  background-color: #000;
  color: #fff;
  padding: 1% 5%;
  text-decoration: none;
  
}

#page-nav a:hover {
  background-color: #fff;
  color: #000;
  border-bottom: 1px solid #fff;
}


.flexlist {
  display: flex;
  align-items: baseline;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
   
}
.title-video {
        display: flex;
		width:  100%;
		height: auto;
		margin: 1.1;
        
        overflow: hidden;
        
    }
.title-video+p {
		clear: both;
    }
.page-footer {
   background-color: lightgrey;
    
    background-size: 100% 100%;
}


  .page-body {
    flex-direction: row;
    flex: 1;
  }
  .main-content {
    flex: 1;
  }
  .adopted, .available {
    /* 12em is the width of the columns */
    flex: 0 0 12em;
  }
    .dropdown{display: none;}

}